/* Reset */
body {
    margin: unset;
}

/* Component */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.png);
    display: grid;
    justify-content: center;
    align-content: center;
}