/* Reset */
body {
    margin: unset;
}

/* Component */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.png);
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.contents {
    box-shadow: inset 0 0 10px red;
    display: grid;
    grid-template-columns: 244px minmax( 0, 832px);
    grid-template-rows: minmax(600px , auto);
}