/* Reset */
body, p {
    margin: unset;
    padding: unset;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    margin: unset;
    padding: unset;
    list-style: none;
}

/* Typography */
:root {
   font-family: 'Montserrat', sans-serif;
}

/*Design*/
body {
    background-image: url(./images/background.png);
}

.wrapper {
    width: 1076px;
    margin: 260px auto;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
}

.sidebar {
    background-image: url(./images/sidebar-background.png);
    background-size: cover;
    width: 244px;
    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -26px;
}


.title {
    color: white; 
    font-size: 24px;
    font-weight: bold;
    border-bottom: 8px solid #444444;
    margin-top: 10px;
    margin-bottom: 8px;
}

.sidebar_header img {
    width: 79px;
}

.sidebar p {
    color: #999999;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 8px;
    margin-bottom: 26px;
}

.header_control {
    width: 212;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.18em;
    text-indent: 0.18em;
}

.location {
    height: 22px;
    background-color: #0468FF;
    color: white;
    margin-bottom: 6px;
    border-radius: 2px;
    line-height: 22px;
}

.share {
    height: 22px;
    background-color: #D9D9D9;
    color: #333333;
    border-radius: 2px;
    line-height: 22px;
}

.contents_wrapper {
    background-color: white;
    padding: 16px;
}

.contents_title {
    border-bottom: 8px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666666;
}

.contents_title h2 {
    font-size: 24px;
    font-weight: bold;
}

.contents_title span {
    background-color: #eeeeee;
    font-size: 10px;
    font-weight: bold;
    width: 74px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 56px;
}

.contents_pic {
    margin: 16px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture img {
    width: 120px
}

.contents {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
    
}

.text {
    background-color: #eeeeee;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: calc( 100% / 3 );
    height: 250px;
    gap: 23px;
    box-sizing: border-box;
}

.text p {
    font-size: 14px;
    color: #333333;
    line-height: 1.4em;
    flex-grow: 1;
}

.text span {
    font-size: 14px;
    color: #111111;
    text-align: right;
    flex-shrink: 0;
}